body {
    background-color: white !important;
}

.ClosedPage {
    background-color: white !important;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center !important;
    margin-top: 10rem;
}